@charset "UTF-8";
/* Importar */ 
/* Variables */
/* Codigo */
* {
  padding: 0px;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
}

body {
  padding: 1% 1% 0% 1%;
  font-size: 16px;
  background-image: url(https://img.freepik.com/vector-premium/fondo-banner-diseno-abstracto-baja-poli_1048-14465.jpg?w=1380);
  background-repeat: no-repeat;
  background-size: cover;
}

.img__banner {
  width: 100%;
  height: 30vh;
}

.navbar {
  margin-top: 1%;
}

.navbar-toggler-icon {
  background: gray;
}

.navbar-brand {
  color: white;
  font-weight: bolder;
  font-size: 1.2rem;
}
.navbar-brand:hover {
  text-decoration: underline;
  color: white;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  text-decoration: underline;
  color: white;
}

h1 {
  font-size: 1.6rem;
  font-weight: bolder;
}

header p {
  font-size: 1rem;
  text-align: justify;
}

.grid__container {
  display: grid;
  grid-template-areas: "anime" "videojuegos";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 80%;
  justify-content: center;
}

.grid__container > .article__index--anime {
  grid-area: anime;
}

.grid__container > .article__index--videojuegos {
  grid-area: videojuegos;
}

.text {
  font-size: 1.5rem;
  font-weight: bold;
}

.article__img-anime,
.article__img-videojuegos {
  width: 60%;
  height: 45vh;
  margin: 1%;
  border-radius: 5%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(232, 232, 232);
  background: radial-gradient(circle, rgb(232, 232, 232) 55%, rgb(183, 183, 183) 80%);
}

.footer__index-p {
  font-weight: bolder;
  margin: auto;
}

/* Animaciondes Index */
.text, .article__img-videojuegos, .article__img-anime {
  -webkit-animation-name: aparece;
          animation-name: aparece;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes aparece {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes aparece {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.article__img-anime:hover,
.article__img-videojuegos:hover {
  transform: scale(1.25);
}

/* Top Animes y Top Videojuegos */
.grid__container-top-animes, .grid__container-top-videojuegos {
  display: grid;
  grid-template-areas: "img1" "img2" "img3" "img4";
  grid-template-columns: 80%;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
}

.imgs__anime, .imgs__videojuegos {
  width: 50%;
  height: 35vh;
  border-radius: 5%;
  margin: 2%;
  -webkit-animation-name: tranparencia;
          animation-name: tranparencia;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes tranparencia {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tranparencia {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.img1:hover, .img2:hover, .img3:hover, .img4:hover {
  transform: scale(1.25);
}

/* Nosotros */
.p-nosotros {
  text-align: justify;
}

/* Contacto */
.img__contacto {
  display: none;
}

.div__contacto {
  display: flex;
  justify-content: center;
}

.form__container {
  display: flex;
  flex-direction: column;
}

.form__input {
  margin: 1%;
}

.form__enviar {
  margin-bottom: 3%;
}

/* Pagina con tamaño de minimo 768px */
@media screen and (min-width: 768px) {
  /* Index */
  .navbar-brand {
    font-size: 1.5rem;
  }
  .nav-link {
    font-size: 1.35rem;
  }
  h1 {
    font-size: 2.3rem;
  }
  header p {
    font-size: 1.3rem;
  }
  .text {
    font-size: 2rem;
  }
  .grid__container {
    grid-template-columns: 80%;
    grid-template-rows: 1fr 1fr;
  }
  .article__index--anime {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .article__index--videojuegos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  /* Nosotros */
  .p-nosotros {
    font-size: 1.2rem;
  }
  /* Contacto */
  .img__contacto {
    display: block;
    width: 45vw;
    height: 35vh;
    border-radius: 5%;
  }
  .section__contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
  }
}
@media screen and (min-width: 1200px) {
  /* Index */
  .navbar-brand {
    font-size: 2rem;
  }
  .nav-link {
    font-size: 1.75rem;
  }
  h1 {
    font-size: 3.6rem;
  }
  header p {
    font-size: 1.9rem;
  }
  .text {
    font-size: 3rem;
  }
  .grid__container {
    grid-template-areas: "anime videojuegos";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }
  .grid__container > .article__index--anime {
    grid-area: anime;
  }
  .grid__container > .article__index--videojuegos {
    grid-area: videojuegos;
  }
  .article__index--anime {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
  }
  .article__index--videojuegos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .article__img-anime,
.article__img-videojuegos {
    width: 70%;
    height: 45vh;
  }
  /* Top Animes y Top Videojuegos */
  .grid__container-top-animes, .grid__container-top-videojuegos {
    display: grid;
    grid-template-areas: "img1 img2" "img3 img4";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
  }
  .grid__container-top-animes > .img__anime1 {
    grid-area: img1;
  }
  .grid__container-top-animes > .img__anime2 {
    grid-area: img2;
  }
  .grid__container-top-animes > .img__anime3 {
    grid-area: img3;
  }
  .grid__container-top-animes > .img__anime4 {
    grid-area: img4;
  }
  .grid__container-top-videojuegos > .img__videojuego1 {
    grid-area: img1;
  }
  .grid__container-top-videojuegos > .img__videojuego2 {
    grid-area: img2;
  }
  .grid__container-top-videojuegos > .img__videojuego3 {
    grid-area: img3;
  }
  .grid__container-top-videojuegos > .img__videojuego4 {
    grid-area: img4;
  }
  .article__img-anime, .article__img-videojuegos {
    width: 60%;
    height: 45vh;
  }
  /* Nosotros */
  .p-nosotros {
    font-size: 1.6rem;
  }
  /* Contacto */
  .p__contacto {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */