/* Fuentes */
$tamano: 1rem;
$fuente-nav: bolder;

/* Espaciado */
$distancia : 1%;

/* Colores */
$color-nav : gray;
$color-texto-nav: white;
$color-hover: white;

/* Animaciones */
$duracion: 2s;
$delay: 0.3s