/* Importar */;
@import "variables";

/* Variables */

$borde: 5%;

/* mixin */
@mixin sizes($ancho, $alto) {
  width: $ancho;
  height: $alto;
  }

  /* Map */
$estilos: (
  colum80: 80%,
  repeticiones: 1,
  modoanimacion: forwards,
  alineaciontexto:justify,
);
  
/* Codigo */

* {
    padding: 0px;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
  }
  

  body {
    padding: 1% 1% 0% 1%;
    font-size: 16px;
    background-image: url(https://img.freepik.com/vector-premium/fondo-banner-diseno-abstracto-baja-poli_1048-14465.jpg?w=1380);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img__banner{
    @include sizes(100%,30vh);
    
  }
   
  .navbar{
    margin-top: $distancia;
 }

  .navbar-toggler-icon{
    background: $color-nav;
   
  }

  .navbar-brand {
    color: $color-texto-nav;
    font-weight: $fuente-nav;
    font-size: $tamano*1.2;
    &:hover{
        text-decoration: underline;
        color: $color-hover;
    }
  }
  
  .nav-link{
    color: $color-texto-nav;
    &:hover{
        text-decoration: underline;
        color: $color-hover;
    }
  }

  h1{
    font-size: $tamano*1.6;
    font-weight:$fuente-nav;
  }

  header p{
    font-size: $tamano;
    text-align: justify;
    
  }

  .grid__container{
    display: grid;
    grid-template-areas: "anime"
                          "videojuegos" ;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: map-get($estilos,colum80);
    justify-content: center;
  }

  .grid__container > .article__index--anime{
    grid-area: anime;
  }

  .grid__container > .article__index--videojuegos{
    grid-area: videojuegos;
  }

  .text{
    font-size: $tamano *1.5;
    font-weight: bold;
  }

  .article__img-anime,
.article__img-videojuegos {
  @include sizes(60%,45vh);
  margin: $distancia;
  border-radius: $borde;

}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(232, 232, 232);
  background: radial-gradient(
    circle,
    rgba(232, 232, 232, 1) 55%,
    rgba(183, 183, 183, 1) 80%)

}

.footer__index-p{
    font-weight: $fuente-nav;
    margin: auto;
}



/* Animaciondes Index */

.text, .article__img-videojuegos ,.article__img-anime{
    animation-name: aparece;
    animation-duration: $duracion;
    animation-delay: $delay;
    animation-iteration-count: map-get($estilos, repeticiones);
    animation-fill-mode: map-get($estilos, modoanimacion );

}

@keyframes aparece{
    from{
        transform:scale(0);
    }

    to{
        transform:scale(1);
    }
}

.article__img-anime:hover,
.article__img-videojuegos:hover {
  transform: scale(1.25);
}



/* Top Animes y Top Videojuegos */

.grid__container-top-animes, .grid__container-top-videojuegos{
    display: grid;
    grid-template-areas: "img1"
                         "img2"
                         "img3"
                         "img4";
    grid-template-columns:80% ;
    grid-template-rows: repeat(4,1fr);
    justify-content: center;
    
}

.imgs__anime, .imgs__videojuegos {
  @include sizes(50%,35vh);
  border-radius: $borde;
  margin: 2%;

  animation-name: tranparencia;
  animation-duration: $duracion;
  animation-delay: $delay;
  animation-iteration-count: map-get($estilos, repeticiones);
  animation-fill-mode: map-get($estilos, modoanimacion );

}

@keyframes tranparencia{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.img1:hover, .img2:hover, .img3:hover,.img4:hover{
  transform: scale(1.25);
}

/* Nosotros */

.p-nosotros{
    text-align: map-get($estilos, alineaciontexto );
}

/* Contacto */

.img__contacto{
    display: none;
}

.div__contacto {
    display: flex;
   justify-content: center;
  }
  
  .form__container {
    display: flex;
    flex-direction: column;
  }
  
  .form__input {
    margin: 1%;
  }
  
  .form__enviar{
    margin-bottom: 3%;
  }

  /* Pages Animes y Videojuegos */

  .p__pages-anime, .p__pages-videojuegos{
    text-align: justify;
  }

  @import "mediaQueries"

  


  

